In [6]:

import yfinance as yf
import pandas as pd
import numpy as np
import time
from tqdm import tqdm

In [7]:
TICKERS = ['VCB.VN', 'MBB.VN', 'TPB.VN', 'BID.VN', 'CTG.VN', 'OCB.VN']
market_data_list = []

print(f"Bắt đầu tải Dữ liệu Thị trường (snapshot) cho {len(TICKERS)} mã...")
for ticker in tqdm(TICKERS, desc="Đang tải Market Data"):
    try:
        ticker_obj = yf.Ticker(ticker)
        info = ticker_obj.info

        data_row = {
            'ticker': ticker,
            'P/E (TTM)': info.get('trailingPE', np.nan),
            'EPS (TTM)': info.get('trailingEps', np.nan),
            'P/B': info.get('priceToBook', np.nan) 
            # Thêm các chỉ số market-based khác bạn muốn ở đây
        }
        market_data_list.append(data_row)
        time.sleep(0.5)

    except Exception as e:
        print(f"Lỗi khi lấy thông tin của {ticker}: {e}")

Bắt đầu tải Dữ liệu Thị trường (snapshot) cho 6 mã...

Đang tải Market Data: 100%|██████████| 6/6 [00:04<00:00,  1.32it/s]

In [8]:
# Chuyển thành DataFrame
df_market = pd.DataFrame(market_data_list)

print("\n--- HOÀN TẤT: Dữ liệu Thị trường (Snapshot) ---")
display(df_market)

--- HOÀN TẤT: Dữ liệu Thị trường (Snapshot) ---

   ticker  P/E (TTM)  EPS (TTM)       P/B
0  VCB.VN  22.498590    2644.61  2.232644
1  MBB.VN  10.360565    2287.52  1.497899
2  TPB.VN   8.467069    2043.21  1.199984
3  BID.VN  13.332171    2869.00  1.652211
4  CTG.VN   7.925258    6208.00  1.565975
5  OCB.VN   8.481765    1461.96  1.011455

In [9]:
file_funda_data = "Book1.csv"

try:
    print(f"Đang tải Dữ liệu Cơ bản từ: {file_funda_data}...")
    df_funda_raw = pd.read_csv(file_funda_data, header=0, skiprows=[1]) 
    df_funda_2021 = df_funda_raw[df_funda_raw['Year'] == 2021].copy()
    df_funda_2021['Bank Code'] = df_funda_2021['Bank Code'].str.strip()
    ticker_map = {
        'VCB': 'VCB.VN',
        'MBB': 'MBB.VN',
        'TPB': 'TPB.VN',
        'BIDV': 'BID.VN', 
        'CTG': 'CTG.VN',
        'OCB': 'OCB.VN'
    }
    df_funda_2021['ticker'] = df_funda_2021['Bank Code'].map(ticker_map)
    
    print("\n--- HOÀN TẤT: Dữ liệu Cơ bản (năm 2021) ---")
    display(df_funda_2021[['ticker', 'Bank Code', 'Year', 'Returns Over Equity', 'Returns Over Assets']].head())

except FileNotFoundError:
    print(f"LỖI: Không tìm thấy file '{file_funda_data}'.")
    print("Vui lòng đảm bảo file này nằm cùng thư mục với Notebook của bạn, hoặc cung cấp đường dẫn đầy đủ.")
except Exception as e:
    print(f"Một lỗi đã xảy ra: {e}")

Đang tải Dữ liệu Cơ bản từ: Book1.csv...

--- HOÀN TẤT: Dữ liệu Cơ bản (năm 2021) ---

     ticker Bank Code  Year  Returns Over Equity  Returns Over Assets
16      NaN       ABB  2021                13.30                 1.34
36      NaN       ACB  2021                21.39                 1.82
56      NaN       AGB  2021                50.13                 2.34
76   BID.VN      BIDV  2021                12.56                 0.62
118  CTG.VN       CTG  2021                15.18                 0.93

In [10]:
# ... (Toàn bộ code hiện tại của bạn để tải df_market) ...
print("\n--- HOÀN TẤT: Dữ liệu Thị trường (Snapshot) ---")
display(df_market)

# --- THÊM VÀO ---
print("Đang lưu df_market ra file 'market_data_snapshot.csv'...")
df_market.to_csv("market_data_snapshot.csv", index=False)
# -----------------


# ... (Toàn bộ code hiện tại của bạn để tải df_funda_2021) ...
print("\n--- HOÀN TẤT: Dữ liệu Cơ bản (năm 2021) ---")
display(df_funda_2021[['ticker', 'Bank Code', 'Year', 'Returns Over Equity', 'Returns Over Assets']].head())

# --- THÊM VÀO ---
print("Đang lưu df_funda_2021 ra file 'funda_data_2021.csv'...")
df_funda_2021.to_csv("funda_data_2021.csv", index=False)
# -----------------

--- HOÀN TẤT: Dữ liệu Thị trường (Snapshot) ---

   ticker  P/E (TTM)  EPS (TTM)       P/B
0  VCB.VN  22.498590    2644.61  2.232644
1  MBB.VN  10.360565    2287.52  1.497899
2  TPB.VN   8.467069    2043.21  1.199984
3  BID.VN  13.332171    2869.00  1.652211
4  CTG.VN   7.925258    6208.00  1.565975
5  OCB.VN   8.481765    1461.96  1.011455

Đang lưu df_market ra file 'market_data_snapshot.csv'...

--- HOÀN TẤT: Dữ liệu Cơ bản (năm 2021) ---

     ticker Bank Code  Year  Returns Over Equity  Returns Over Assets
16      NaN       ABB  2021                13.30                 1.34
36      NaN       ACB  2021                21.39                 1.82
56      NaN       AGB  2021                50.13                 2.34
76   BID.VN      BIDV  2021                12.56                 0.62
118  CTG.VN       CTG  2021                15.18                 0.93

Đang lưu df_funda_2021 ra file 'funda_data_2021.csv'...